*.ps
*.out
*.log
*.aux
*.dvi

octave-core
*.o
*.log
*~
*.gz
*.synctex.gz
*.nav
*.snm
*.toc
#*#
.emacs.desk*

CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles
src/build/
src/imu/pics/

*bbl
*blg
